body{
  width:100%;
  text-align:center;
  background:black;
}

table {
  text-align: center;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-spacing: 0px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}

td {
  background:black;
  width:10px;
  height:15px;
  border-radius:50%;
  border:1px dotted darkslategray;
}

#tables {
  border: 2px dotted white;
  display:inline-block;
}

table {
    border-spacing: 0;
}

#colorBox{
  width:100%;
  height: 22px;
}

li{
  display:inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  list-style-type: none;
}

.black.legend {
  width:18px;
  height:18px;
  border:1px dotted gray;
}

.black {
  background-color: black;
  fill: black;
}
.blue {
  background-color: blue;
  fill: blue;
}
.cyan {
  background-color: cyan;
  fill: cyan;
}
.green {
  background-color: green;
  fill: green;
}
.yellow {
  background-color: yellow;
  fill: yellow;
}
.orange {
  background-color: orange;
  fill: orange;
}
.red {
  background-color: red;
  fill: red;
}
.purple {
  background-color: purple;
  fill: purple;
}
.magenta {
  background-color: magenta;
  fill: magenta;
}
.pink {
  background-color: pink;
  fill: pink;
}
.white {
  background-color: white;
  fill: white;
}

.reset{
  color:white;
}

p {
  margin-left:auto;
  margin-right:auto;
  color:white;
}

.lit {
    box-shadow: inset white 0px -1px 7px 1px;
}

.lit:hover {
    box-shadow: none;
}
